<%= simple_form_for @cocktail do |f| %>

  <div class="form-input">
    <%= f.input :name, placeholder: "Old fashioned" %>
  </div>

  <div class="form-actions">
    <%= f.submit "Submit", class: "btn-main" %>
  </div>
<% end %>
