.btn-main {
  color: white;
  padding: 4px 10px;
  border-radius: 8px;
  background: #3384f1;
  transition: color 0.8s ease;
}

.btn-main:hover {
  color: black;
  text-decoration: none;
}


.btn {
  color: white;
  padding: 4px 10px;
  border-radius: 8px;
  background: #33c1f1;
  height: 32px;
  margin-left: 16px;
  transition: color 0.8s ease;
}

.btn:hover {
  color: black;
  text-decoration: none;
}

.btn-cancel {
  color: white;
  padding: 4px 10px;
  border-radius: 8px;
  background: #f19233;
  transition: color 0.8s ease;
  margin-left: 16px;
}

.btn-cancel:hover {
  color: black;
  text-decoration: none;
}
