.btn-main {
  color: white;
  padding: 4px 10px;
  border-radius: 8px;
  background: #3384f1;
  transition: color 0.7s ease;
  margin-left: 2px;
}

.btn-main:hover {
  color: black;
  text-decoration: none;
}


.btn {
  color: white;
  padding: 4px 10px;
  border-radius: 8px;
  background: #1d7e9e;
  transition: color 0.7s ease;
}

.btn-delete {
  color: white;
  padding: 4px 10px;
  border-radius: 8px;
  background: #696464;
  transition: color 0.7s ease;
}

.btn:hover {
  color: black;
  text-decoration: none;
}

.btn-cancel {
  margin-left: 2px;
  color: white;
  padding: 4px 10px;
  border-radius: 8px;
  background: #f19233;
  transition: color 0.7s ease;
}

.btn-cancel:hover {
  color: black;
  text-decoration: none;
}

a:hover {
  color: black;
  text-decoration: none;
}
